<p id="notice"><%= notice %></p>

<p>
  <strong>Prime number:</strong>
  <%= @prime_number.prime_number %>
</p>

<%= link_to 'Edit', edit_prime_number_path(@prime_number) %> |
<%= link_to 'Back', prime_numbers_path %>
