<div class="row mt-4">
	<div class="col col-12">
	
		<%#= link_to "Sign in with SLACK", "/authorize" %>

		<% if @current_user %>
			<h1>Hi, <%= @current_user.email %></h1>
		<% end %>
	</div>
</div>
<hr />
<div class="row">
	<div class="col col-12">
		<table class="table table-borderder table-striped">
			<tr>
				<td v-for="list in auxList">{{list}}</td>
			</tr>
		</table>
	</div>
</div>